@import url("../../../css/bootstrap.min.css");
@import url("../../../libs/font-awesome/css/font-awesome.min.css");
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f4f6f8;
  font-size: 14px;
  color: #616161;
}
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 50px;
}
